<h2>Registro de usuario</h2>
<br>
<form>
    <div class="mb-3">
        <label class="form-label">Cedula</label >
        <input type="text" class="form-control" [(ngModel)]="person.cedula"  name="cedula">
    </div>
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="person.nombre" name="nombre">
    </div>

    <div class="mb-3">
        <label class="form-label">Fecha nacimiento</label >
        <input type="date" class="form-control" [(ngModel)]="person.fechaNacimiento"  name="fechaNacimiento">
    </div>

    <div class="mb-3">
        <label class="form-label">Ciudad</label>
        <select class="form-control" name="" id="" [(ngModel)]="person.ciudad" name="ciudad"> 
        <option value=" "></option>
        <option value="">Machala</option>
        <option value="">Pasaje</option>
        <option value="">Santa Rosa</option>
       </select>
    </div>
    <input type="submit" value="Enviar" (click)="create()">
    <input type="submit" value="Eliminar" (click)="delete()">
</form>